@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this right below your tailwind directives */
@layer utilities {
  /* Hides scrollbars across Chrome, Safari, Edge, and Firefox */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
